@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display:flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 638px;
  padding: 0px 50px;
  perspective: 1000px;
}
.card {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 17px;
    position: relative; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}
.card div {
    display: flex;
    justify-content: center;
}
.card {
    position: relative;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 17px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 1s;
  }
  
  .face-down, .face-up {
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
  }
  
  .face-down {
      backface-visibility: hidden;

      transition: all .5s;
      transform-style: preserve-3d;  
  }
  
  .face-up {
      backface-visibility: hidden;
      transform: rotateY(-180deg);
  }
  .is-flipped {
    transform: rotateY(180deg);
  }
  